export DEMO_HOME="$PWD"
export DOCKER_NETWORK_NAME=harness-cd-demo
export K3D_CLUSTER_NAME=harness-cd-demo
export REGISTRY_NAME=harness-cd-demo-registry
export REGISTRY_HOST_PORT=5001
export KUBECONFIG="$DEMO_HOME/.kube/config"